module.exports = {
  local: {
    region: 'us-east-1',
      accessKeyId: 'AWS_SECRET_KEY',
      secretAccessKey: 'secret',
      endpoint: 'http://localhost:7000'
  },
  staging: {
    region: 'us-east-1',
      accessKeyId: 'AWS_SECRET_KEY',
      secretAccessKey: 'secret',
      endpoint: 'http://localhost:7000'
  },
  production: {
    region: 'us-east-1',
      accessKeyId: 'AWS_SECRET_KEY',
      secretAccessKey: 'secret',
      endpoint: 'http://localhost:7000'
  }
}
